/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.btn {
  color: white;
  background-color: #0052ff;
  border: none;
}

.btn--primary {
  padding: 15px;
  border-radius: 5px;
}

.btn--secondary {
  width: 100%;
  height: 40px;
}

.btn--balance {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.card {
  padding: 5%;
}

.card__header {
  font-size: 32px;
  margin-bottom: 20px;
}

.card__subtitle {
  line-height: 20px;
  margin-bottom: 20px;
}

.card__title {
  font-size: 23px;
  margin-bottom: 10px;
  font-weight: 600;
}

.card__title--featured {
  margin-bottom: 30px;
}

.card--center {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card--home {
  margin-top: 70px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 13px;
  margin-bottom: 10px;
}

.form__error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.trending-logo {
  width: 24px;
}

.trending-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.trending-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: capitalize;
}

.article-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.article-wrapper > * {
  margin-bottom: 16px;
}

.article-logo {
  width: 50px;
}

.article-title {
  font-size: 20px;
  font-weight: 500;
}

.article-copy {
  font-size: 15px;
  opacity: 70%;
  line-height: 20px;
}

.footer-container {
  margin-bottom: 20px;
}

.footer-container > a {
  display: block;
  margin-bottom: 5px;
}

.footer__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.footer__links > a {
  opacity: 60%;
}

.footer__logo {
  width: 15px;
}

.footer-logo {
  margin-bottom: 16px;
}

.app-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home-header-wrapper > * {
  margin-bottom: 10px;
}

.balance-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.balance-title {
  opacity: 50%;
}

.trading-wrapper {
  padding: 2%;
}

.trading-wrapper > * {
  margin-bottom: 10px;
}

.ticker-title {
  font-size: 20px;
  text-transform: uppercase;
}

.price-up {
  color: #0ecb81;
}

.price-down {
  color: red;
}

.orderform {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
}

.orderform-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.orderform-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orderform-input {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #eeeaf4;
  border: none;
  padding: 10px;
}
/*# sourceMappingURL=styles.css.map */